#main{
    background-color: rgb(236, 246, 253);
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    height: 70px;
    align-items: center;
    background-color: #d9d9d9;

}

#container>div {
    display: flex;
    gap: 30px;
}

#drop {
    border-color: #d9d9d9;
    background-color: #d9d9d9;
    font-size: 15px;
}

#child {
    display: block;
    display: flex;
    flex-direction: row;
    width: 530px;
    justify-content: space-between;
    font-size: 20px;
}

#containerT {
    background-image: url("https://th.bing.com/th/id/OIP.sWumNeS9QJDUd8pPI799ngHaDt?pid=ImgDet&rs=1");
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#containerF {
    position: absolute;
    background-color: white;

}

#containerF>div {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 0px 120px;
}

#eventpart {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

#first {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

#flisec {
    margin: 30px 0px;
}

#first>input {
    width: 180px;
    height: 40px;
    border-radius: 7px;
}

#search {

    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    height: 40px;
    background-color: #2980B9;
    color: white;
    font-size: 20px;
    border-radius: 7px;

}

h3,
h6,
input,
select,
button:hover {
    cursor: pointer;
}

#search:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#second {
    margin-top: 20px;
}

#banner {
    text-align: left;
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 160px;
    gap: 35px;
    font-size: 13px;
   
}
#banner>div{
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
    
}
#banner>div>p{
    padding-left: 9px;
    padding-right: 9px;
}
#banner>div>img {
    width: 100%;
    border-radius: 7px 7px 0px 0px;

}

#banner>div:hover {
    transform: scale(1.1);
}

#bannertwo-text-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_AllInclusive_imgB_1199x399_20211104.jpg");
    width: 50%;
    background-size: cover;

}

#bannertwo-text-1:hover {
    transform: scale(1.1);

}

#bannertwo-text-2:hover {
    transform: scale(1.1);
}

#bannertwo-text-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_LastMinute_imgB_1199x399_20211104.jpg");
    width: 50%;
    background-size: cover;

}

#bannertwo {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 40px;
    height: 250px;
}

#bannertwo button {
    width: 25%;
    height: 17%;
    border-radius: 7px;
    border-color: white;
    color: blue;
    font-size: 13px;
}

#bannertwo>div {

    margin-top: 30px;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;


}

#bannertwo button:hover {
    transform: scale(1.1);
}

#bannerthree {
    width: 80%;
    margin: auto;
}

#manage {
    display: flex;
    gap: 20px;
}

#manage>div {
    border-radius: 7px;
    height: 190px;
}

#manage1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_Beach_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    width: 100%;
    background-size: cover;
}

#manage1>div {
    display: flex;
    justify-content: center;
    color: white;
}

#manage2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_Car_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    width: 100%;
    background-size: cover;
}

#manage2>div {
    display: flex;
    justify-content: center;
    color: white;
}

#manage3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_MOD_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    width: 100%;
    background-size: cover;
}

#manage3>div {
    display: flex;
    justify-content: center;
    color: white;
}

#manage4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)),url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_VacationRentals_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    width: 100%;
    background-size: cover;
}

#manage4>div {
    display: flex;
    justify-content: center;
    color: white;
}
#bannerfour{
    margin: auto;
    width: 80%;
   
}
#bannerfour1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_Family_imgB_1200x674_20211104.jpg");
    background-size: cover;
   
    width: 100%;
    height: 400px;
    border-radius: 7px;
}
#imageins1{
    
    position: absolute;
    padding-left: 30px;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}
#vedio{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
#bannerfive{
    width: 80%;
    margin: auto;
}
#bannerfive1{
    display: flex;
    justify-content: space-between;
}
#bannerfive1>div{
    background-color: white;
    width: 360px;
    padding-left: 15px;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#bannerfive1>div:hover{
    cursor: pointer;
}
#bannersix{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 250px 560px 240px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap:40px;
    background-color: whitesmoke;
}
#bannersix button{
    border-radius: 7px;
    border-color: white;
    background-color: blue;
    color: white;
    font-size: 13px;
}

#butto,#selo,#numbo{
width: 150px;
font-size: 15px;
padding: 6px 0px;
margin-left: 20px;
}
#bannerseven{
width: 80%;
margin: auto;
}
#bannerseven>div{
display: grid;
grid-template-columns: repeat(2,1fr);
gap:15px;
}
#bannerseven>div>div:nth-child(7){
grid-area: 4/1/5/3;
}
#bannerseven>div>div select{
width: 100%;
height:55px;
border-radius: 7px;
font-size: 20px;
padding-left: 20px;

}
#bannereight{
width: 80%;
margin: auto;
}
#bannereight>table{
width: 100%;
height: 400px;
text-align: left;

}
#bannernine{
width: 80%;
margin: auto;
}
table{
background-color: white;
padding: 10px 10px;
}
th,td:hover{
cursor: pointer;
}